<!-- Секция Products-->
<section class="products__section">
  <div class="container">
    <p class="pre-section-title products-pre-section-title">100% natural</p>
    <h2 class="products__title section-title">products</h2>
    <ul class="products__list list">
      <li class="products__item">
        <picture>
          <source
            srcset="./images/products-img/ice-cream-dekstop.png"
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/products-img/ice-cream-tablet.png"
            type="image/png"
            media="(min-width: 768px)"
          />
          <img
            class="products___img"
            src="./images/products-img/ice-cream-mobile.png"
            alt="Игорь Демьяненко"
            class="image"
          />
        </picture>
        <div class="products__item__content products__item__content--pink">
          <h3 class="products__item__title element-1">ice cream</h3>
          <div class="products__item__pseudoelements">
            <div class="products__item__pseudoelement--1"></div>
            <div class="products__item__pseudoelement--2"></div>
            <div class="products__item__pseudoelement--3"></div>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="products__button products__button--pink">
            <img src="./images/products-img/arrow-right.png" alt="узнать больше" />
          </button>
        </div>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="./images/products-img/ice-coffee-dekstop.png"
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/products-img/ice-coffee-tablet.png"
            type="image/png"
            media="(min-width: 768px)"
          />
          <img
            class="products___img"
            src="./images/products-img/ice-coffee-mobile.png"
            alt="ice coffee"
            class="image"
          />
        </picture>
        <div class="products__item__content products__item__content--yellow">
          <h3 class="products__item__title">ice coffee</h3>
          <div class="products__item__pseudoelements">
            <div class="products__item__pseudoelement--1"></div>
            <div class="products__item__pseudoelement--2"></div>
            <div class="products__item__pseudoelement--3"></div>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="products__button products__button--yellow">
            <img src="./images/products-img/arrow-right.png" alt="узнать больше" />
          </button>
        </div>
      </li>
      <li class="products__item">
        <picture>
          <source
            srcset="./images/products-img/milkshakes-dekstop.png"
            type="image/png"
            media="(min-width: 1280px)"
          />
          <source
            srcset="./images/products-img/milkshakes-tablet.png"
            type="image/png"
            media="(min-width: 768px)"
          />
          <img
            class="products___img"
            src="./images/products-img/milkshakes-mobile.png"
            alt="milkshakes"
            class="image"
          />
        </picture>
        <div class="products__item__content products__item__content--green">
          <h3 class="products__item__title">milkshakes</h3>
          <div class="products__item__pseudoelements">
            <div class="products__item__pseudoelement--1"></div>
            <div class="products__item__pseudoelement--2"></div>
            <div class="products__item__pseudoelement--3"></div>
          </div>
          <p class="products__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="products__button products__button--green">
            <img src="./images/products-img/arrow-right.png" alt="узнать больше" />
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
